body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #121212;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 10fr 5fr;
    grid-template-areas:
    "top top"
    "side right"
    "side right"
    "foot foot";
}

h1 {
    color: #22c16e;
    font-size: 2em;
}

dl, dt, dd {
    color: #22c16e;
    font-size: 1.3em;
}

nav {
    padding-left: 5vw;
    display: block;
    background-color: #282828;
    grid-area: top;
}

aside {
    background-color: #18211b;
    grid-area: side;
}

main {
    padding: 5vw;
    background-color: transparent;
    grid-area: right;
}

footer{
    height: 5vh;
    background-color: #3f3f3f;
    grid-area: foot;
}
::-webkit-scrollbar {
    display: none;
}

